
:root {
    --dark-cerulean: #124e78;
    --maastricht-blue: #0b132b;
    --yankees-blue: #1C2541;
    --sea-serpent: #5bc0be;
    --aquamarine: #6fffe9;
    --react: #00d8ff;
    }

      html {
  background: plum;
  }
  body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: black;
 
  
  }

 

   .App{
    display: flex;
    text-align: left;
    justify-content: center;
    border: 3px solid black;
    /* flex-wrap: wrap; */
    flex: auto;
    ;

   }
   
/* .HomePage div{
    border: 3px solid black;
}
   
.EmployeePage{
    border: 3px solid black;

} */

  